@font-face {
    font-family: 'Mono';
    src: local('Mono'), local('Mono-Regular'),
    url("~@/assets/fonts/woff2/JetBrainsMono-Regular.woff2") format('woff2'),
    url("~@/assets/fonts/woff/JetBrainsMono-Regular.woff") format('woff'),
    url("~@/assets/fonts/ttf/JetBrainsMono-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mono";
    src: local("Mono Bold"), local("Mono-Bold"),
    url("~@/assets/fonts/woff2/JetBrainsMono-ExtraBold.woff2") format("woff2"),
    url("~@/assets/fonts/woff/JetBrainsMono-ExtraBold.woff") format("woff"),
    url("~@/assets/fonts/ttf/JetBrainsMono-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Mono';
    src: local('Mono'), local('Mono-Italic'),
    url("~@/assets/fonts/woff2/JetBrainsMono-Italic.woff2") format('woff2'),
    url("~@/assets/fonts/woff/JetBrainsMono-Italic.woff") format('woff'),
    url("~@/assets/fonts/ttf/JetBrainsMono-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Mono";
    src: local("Mono Bold Italic"), local("Mono-Bold-Italic"),
    url("~@/assets/fonts/woff2/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2"),
    url("~@/assets/fonts/woff/JetBrainsMono-ExtraBold-Italic.woff") format("woff"),
    url("~@/assets/fonts/ttf/JetBrainsMono-ExtraBold-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}
