<template>
  <v-hover v-slot="{ hover }">
    <div>
      <template>
        <v-card class="pa-1 mb-1 application-container" :elevation="hover ? 2 : 2" :class="{ 'on-hover': hover }">
          <div class="title-container">
            <div class="description">
              <v-card-title class="title">
                {{ application.name }}
              </v-card-title>
              <template v-if="deploymentInformation = evaluateDeploymentInformation(application.name)">
                <div v-for="(envConfig, index) in environmentConfigurations" :key="index">
                  <a :href="`https://bitbucket.org/dericon/${application.name}/branches/compare/${application.name}-${firstReleaseVersion}-RELEASE%0D${application.name}-${deploymentInformation.version}#commits`"
                    target="_blank">
                    <v-card-subtitle class="subtitle">
                      <span v-if="envConfig.instanceIdentifier != null">{{ envConfig.instanceIdentifier.displayName }}: </span>{{
                        deploymentInformation.version.replace('-RELEASE', '') }} --> {{
    firstReleaseVersion }}
                    </v-card-subtitle>
                  </a>
                </div>
              </template>
            </div>
          </div>

        </v-card>
      </template>
    </div>
  </v-hover>
</template>

<script>

import { reactive, computed } from 'vue';

export default {
  name: 'ApplicationWithUpdate',
  props: [
    'application',
    "deploymentCache"
  ],
  data() {
    return {
      environmentConfigurations: [],
      firstReleaseVersion: '',
      deployedVersion: '',
    };
  },
  methods: {
    evaluateDeploymentInformation(applicationName) {
      // Check if deploymentCache, name and type are defined.
      if (this.deploymentCache && this.deploymentCache[applicationName] && this.deploymentCache[applicationName]["PRODUCTION_ENVIRONMENT"]) {
        return this.deploymentCache[applicationName]["PRODUCTION_ENVIRONMENT"];
      }
      // If deploymentCache, name or type are not defined, return null.
      return null;
    }
  },
  created() {
    this.environmentConfigurations = this.application.environmentConfigurations.filter(
      (env) => env.environmentType.name === "PRODUCTION_ENVIRONMENT"
    );

    this.firstReleaseVersion = this.application.releaseVersions[0];
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.application-container {
  text-align: left;
}

.application-container .title-container {
  display: flex;
  align-items: center;
}

.application-container .title-container .title {
  padding-bottom: 0;
}

.application-container .title-container .description {
  flex-grow: 1;
}

.application-container .title-container .description a {
  color: inherit;
  /*inherits the color of its parent*/
  text-decoration: none;
  /*removes the underline*/
}

.application-container .title-container .description a:hover {
  color: inherit;
  /*inherits the color of its parent*/
}

.application-container .edit-btn {
  padding: 32px;
}

.application-container .title {
  color: #4e4b47;
  font-weight: bold;
  text-align: left;
}

.subtitle {
  text-align: left;
  padding-top: 0;
}

.expandable-title {
  min-height: 64px;
}

.v-expansion-panel-header--active,
.expandable-title:hover {
  color: #42b983;
}

.v-expansion-panel-header .subtitle {
  line-height: 24px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

.v-expansion-panel-header--active:before {
  color: inherit;
}

.expandable-content .expandable-content-container {
  padding: 0 0 0 18px;
}


.dialog-container .title-container .title {
  padding: 36px 48px 0;
}

.dialog-container h2 {
  text-align: left;
}

.dialog-container .configuration-container {
  text-align: left;
}

.dialog-container .environment-configuration-container {
  margin: 0 24px 24px;
}

.dialog-container .environment-configuration-container .v-subheader {
  height: auto;
  margin-top: 12px;
}

.dialog-container .environment-configuration-container h3 {
  color: #42b983;
  font-size: x-large;
}

.dialog-container .environment-configuration-container .select-input {
  padding: 0;
}


.dialog-container .environment-configuration-container .header {
  display: flex;
  align-items: center;
}


.dialog-container .environment-configuration-container .header h3 {
  flex-grow: 1;
}

.dialog-container .v-card__actions {
  padding: 24px;
}

.environment-configuration-divider {
  display: none;
}

.environment-configuration-group-divider+.environment-configuration-information-container>div:first-child .environment-configuration-divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #dcdee0;
}</style>
