<template>
    <div class="requestOverview">
        <h1 v-if="loadRequests || openRequests.length > 0">Open Initialization Requests:</h1>
        <Loading class="mt-12" v-if="loadRequests" :loading="loadRequests"></Loading>
        <ul v-if="!loadRequests && openRequests.length > 0">
            <li v-for="(request, index) in openRequests" :key="`request-${index}`">
                <v-hover v-slot="{ hover }">
                    <v-card class="request-container"
                            :elevation="hover ? 12 : 2"
                            :class="{ 'on-hover': hover }"
                    >
                        <v-container class="mx-0">
                            <v-row justify="space-between" no-gutters>
                                <v-col col="auto" v-on:click="editConfiguration(request.id)" v-ripple class="information-container">
                                    <v-card-title class="title">
                                        {{request.name}} ({{request.state}})
                                    </v-card-title>
                                    <v-card-subtitle class="subtitle">
                                        ID: {{request.id}}
                                    </v-card-subtitle>
                                </v-col>
                                <v-col cols="3">
                                    <v-card-actions class="action-container">
                                        <v-btn icon v-on:click="deleteConfiguration(request.id)">
                                            <v-icon>mdi-trash-can-outline</v-icon>
                                        </v-btn>
                                        <v-btn color="primary" dark>
                                            Approve
                                            <v-icon right>mdi-check</v-icon>
                                        </v-btn>
                                    </v-card-actions>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card>
                </v-hover>
            </li>
        </ul>
    </div>
</template>

<script>
    import ConfigurationService from "../../services/ConfigurationService";
    import Loading from '@/components/general/PacmanLoader.vue'

    export default {
        name: 'ConfigurationOverview',
        data: function () {
            return {
                loadRequests: false,
                fullPage: false,
                openRequests: [],
                deletedElement: {}
            }
        },
        components: {
            Loading
        },
        methods: {
            deleteConfiguration: function (id) {
                ConfigurationService
                    .deleteConfiguration(id)
                    .then(() => {
                        console.log("deleted");
                        this.openRequests = this.openRequests
                            .filter(function (request) {
                                return request.id !== id;
                            });
                    });
            },
            editConfiguration: function (id) {
                this.$router.push({name: "initializer", params: {configurationId: id}})
            }
        },
        created() {
            this.loadRequests = true;

            ConfigurationService
                .getConfigurations()
                .then(response => {
                    this.openRequests = response;
                    this.loadRequests = false;
                })
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1 {
        margin-bottom: 25px;
        font-weight: 900;
        text-align: left;
    }

    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0 10%;
    }

    li {
        margin: 10px 10px;
    }

    .request-container {
        display: block;
        margin: 0 auto;
    }

    .request-container .container {
        padding: 0;
    }

    .request-container .action-container {
        height: 100%;
        padding-right: 25px;
        position: absolute;
        right: 0;
    }

    .request-container .action-container button {
        margin: 0 10px;
    }

    .request-container .col.information-container {
        padding-left: 12px;
        cursor: pointer;
    }

    .request-container .col {
        padding: 0;
    }

    .subtitle {
        text-align: left;
    }
</style>
