<template>
  <v-hover v-slot="{ hover }">
    <div>
        <template>
          <v-card class="pa-1 mb-1 application-container"
                  :elevation="hover ? 8 : 2"
                  :class="{ 'on-hover': hover }"
                  >
            <div class="title-container">
              <div class="description">
                <v-card-title class="title">
                  {{ application }}
                </v-card-title>
                <a :href="`https://bitbucket.org/dericon/${application}/branch/develop?dest=master#diff`" target="_blank">
                <v-card-subtitle class="subtitle">
                  Unreleased Commits: {{ changeCount }}
                </v-card-subtitle>
                </a>
              </div>
            </div>

          </v-card>
        </template>
    </div>
  </v-hover>
</template>

<script>

export default {
  name: 'SimpleApplicationView',
  props: [
    'application',
    'changeCount'
  ]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.application-container {
  text-align: left;
}

.application-container .title-container {
  display: flex;
  align-items: center;
}

.application-container .title-container .title {
  padding-bottom: 0;
}

.application-container .title-container .description {
  flex-grow: 1;
}
.application-container .title-container .description a {
  color: inherit; /*inherits the color of its parent*/
  text-decoration: none; /*removes the underline*/
}

.application-container .title-container .description a:hover {
  color: inherit; /*inherits the color of its parent*/
}

.application-container .title-container .description a div {
  padding-top: 0;
}

.application-container .edit-btn {
  padding: 32px;
}

.application-container .title {
  color: #e7a34d;
  font-weight: bold;
}

.subtitle {
  text-align: left;
}

.expandable-title {
  min-height: 64px;
}

.v-expansion-panel-header--active,
.expandable-title:hover {
  color: #42b983;
}

.v-expansion-panel-header .subtitle {
  line-height: 24px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

.v-expansion-panel-header--active:before {
  color: inherit;
}

.expandable-content .expandable-content-container {
  padding: 0 0 0 18px;
}


.dialog-container .title-container .title {
  padding: 36px 48px 0;
}

.dialog-container h2 {
  text-align: left;
}

.dialog-container .configuration-container {
  text-align: left;
}

.dialog-container .environment-configuration-container {
  margin: 0 24px 24px;
}

.dialog-container .environment-configuration-container .v-subheader {
  height: auto;
  margin-top: 12px;
}

.dialog-container .environment-configuration-container h3 {
  color: #42b983;
  font-size: x-large;
}

.dialog-container .environment-configuration-container .select-input {
  padding: 0;
}


.dialog-container .environment-configuration-container .header {
  display: flex;
  align-items: center;
}


.dialog-container .environment-configuration-container .header h3 {
  flex-grow: 1;
}

.dialog-container .v-card__actions {
  padding: 24px;
}

.environment-configuration-divider {
  display: none;
}

.environment-configuration-group-divider + .environment-configuration-information-container > div:first-child .environment-configuration-divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  background-color: #dcdee0;
}

</style>
