<template>
    <v-app>
        <div id="app" v-cloak>
            <div id="nav">
                <router-link to="/dashboard">Dashboard</router-link>
              |
              <router-link to="/initializer">Initializer</router-link>
              |
              <router-link to="/logout">Logout</router-link>
            </div>
            <div id="content-container">
                <router-view/>
            </div>
        </div>
    </v-app>
</template>

<style>
    @import "./assets/css/fonts.css";

    #app {
        background: #dfdfdf;
    }

    #app {
        font-family: 'Mono', monospace;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav a.router-link-active {
        color: #42b983;
    }

    h1 {
        margin-bottom: 25px;
        font-weight: 900;
        text-align: left;
    }

    #content-container > div {
        width: 80%;
        margin: 0 auto;
    }

    #nav {
        padding: 30px;
        margin-bottom: 50px;
    }

    #nav a {
        font-weight: bold;
        color: #2c3e50;
        text-decoration: none;
    }

    #nav a.router-link-exact-active {
        color: #42b983;
    }
</style>
